[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.2.2"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"


importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"

[dev-packages]
livereload = "*"

[requires]
python_full_version = "3.8.13"